{% extends 'user/base.html' %}
{%block content %}
<div class="container">
    {% if article_all %}
    <div class="row">
        <!-- main-column -->
        <div class="col-lg-7">
            <div class="rank1-stories">
                <div class="story">
                    <div class="story_thumb">
                        <a href="article/{{ article_all.0.id }}">
                            <img src="media/{{article_all.0.file}}" alt="article_image">
                        </a>
                    </div>
                    <h4 class="story_heading">
                        <a href="article/{{ article_all.0.id }}">
                            {{ article_all.0.title }}
                        </a>
                    </h4>

                </div>

            </div>
            <div class="rank2-stories">
                
                <div class="story">
                    <div class="story_thumb">
                        <a href="article/{{ article_all.0.id }}">
                            <img src="media/{{article_all.0.file}}" alt="article_image">
                        </a>
                    </div>
                    <h4 class="story_heading">
                        <a href="article/{{ article_all.0.id }}">
                            {{ article_all.0.title }}
                        </a>
                    </h4>
                    
                </div>
                <div class="story">
                    <div class="story_thumb">
                        <a href="article/{{ article_all.0.id }}">
                            <img src="media/{{article_all.0.file}}" alt="article_image">
                        </a>
                    </div>
                    <h4 class="story_heading">
                        <a href="article/{{ article_all.0.id }}">
                            {{ article_all.0.title }}
                        </a>
                    </h4>
                    
                </div>
                <div class="story">
                    <div class="story_thumb">
                        <a href="article/{{ article_all.0.id }}">
                            <img src="media/{{article_all.0.file}}" alt="article_image">
                        </a>
                    </div>
                    <h4 class="story_heading">
                        <a href="article/{{ article_all.0.id }}">
                            {{ article_all.0.title }}
                        </a>
                    </h4>
                    
                </div>
                
            </div>
        </div>

    </div>
    {% else %}
        <p>No article are available </p>
    {% endif %}

</div>



{% endblock %}