{% extends 'user/base.html' %}
{% block content %}
<div class="container pt-3">
    {% if article_all %}
    <table class="table table-bordered">
        <tr>
          <th style="width:5%" class="text-center">STT</th>
          <th style="width:15%" class="text-center">Image</th>
          <th style="width:25%" class="text-center">Title</th>
          <th style="width:15%" class="text-center">Summary</th>
          <th style="width:15%" class="text-center">Category</th>
          <th style="width:15%" class="text-center">Reporter</th>
          <th style="width:25%" class="text-center">publish_date</th>
        </tr>
        {% for article in article_all %}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center"><img src="media/{{article.file}}" alt="article_image" style="width: 60px; height: 60px;"></td>
            <td class="text-center">
                <a href="article/{{ article.id }}" title="title">{{ article.title }} &nbsp;</a>
            </td>
            <td class="text-center">{{ article.summary }}</td>
            <td class="text-center">{{ article.category.category_name }}</td>
            <td class="text-center">{{ article.reporter.reporter_name }}</td>
            <td class="text-center">{{ article.publish_date }}</td>
        </tr>        
        
        {% endfor %}
    </table>
    {% else %}
        <p>No article are available </p>
    {% endif %}

</div>
{% endblock %}